<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <table width="100%" cellspacing="0" cellpadding="0" border="0">                                        
            <tbody>
                <tr><td class="orderTitle"><img width="150" height="20" src="../lenso/images/order001.png" /></td></tr>
                <tr><td class="orderText">1. ค้นหารูปแบบของฝาคลอบล้อที่ท่านต้องการ</td></tr>
                <tr><td class="orderText">2. ในกรณีที่ไม่แน่ใจ ให้ถ่ายรูป ล้อ/ฝาครอบล้อที่เหลืออยู่ ส่งมาสอบถามที่<a shape="rect" href="mailto:event@lensowheel.com">event@lensowheel.com</a></td></tr>
                <tr><td class="orderText">3. โทรสอบถามสินค้าเพื่อเช็คสต๊อกและสั่งซื้อ ที่เบอร์ 038-571700-343 คุณสุนิษา <br />&nbsp;&nbsp;&nbsp;&nbsp;หรือทาง <a href="https://www.facebook.com/LensoWheels" target="_blank">www.facebook.com/LensoWheels</a> หรือเบอร์ 02-6533312 ถึง 3</td></tr>
                <tr><td class="orderText">4. โอนเงิน ตามมูลค่าที่แจ้งไว้ ในเว็บไซต์</td></tr>
                <tr><td class="orderText">5. ส่งหลักฐานการโอนเงิน พร้อมชื่อ ที่อยู่ ที่ต้องการให้จัดส่ง มาที่ <a shape="rect" href="mailto:event@lensowheel.com">event@lensowheel.com</a> หรือ Fax 038-571-699 Attn: คุณสุนิษา</td></tr>
                <tr><td class="orderText">6. รอรับของภายใน 7 วันทำการ</td></tr>
                <tr><td class="orderTitle"><img width="150" height="20" src="../lenso/images/order002.png" /></td></tr>
                <tr><td class="orderText">ธนาคาร กสิกรไทย สาขา บางนาตราด กม 18.</td></tr>
                <tr><td class="orderText">ชื่อบัญชี ธัญญา เจริญศรี</td></tr>
                <tr><td class="orderText">เลขที่บัญชี 450-267-2555</td></tr>
                <tr><td class="orderText">ประเภท ออมทรัพย์</td></tr>
                <tr><td><br /></td></tr>
                <tr><td><br /></td></tr>
            </tbody>
        </table>
        
        
    </body>
</html>
<table width="100%" cellspacing="0" cellpadding="0" border="0">                                        
            <tbody>
                <tr>
                    <td class="orderTitle"><img width="150" height="20" src="../lenso/images/order001.png" /></td>
                </tr>
                <tr>
                    <td class="orderText">1. ค้นหารูปแบบของฝาคลอบล้อที่ท่านต้องการ</td>
                </tr>
                <tr>
                    <td class="orderText">2. ในกรณีที่ไม่แน่ใจ ให้ถ่ายรูป ล้อ/ฝาครอบล้อที่เหลืออยู่ ส่งมาสอบถามที่ <a shape="rect" href="mailto:event@lensowheel.com">    event@lensowheel.com</a></td>
                </tr>
                <tr>
                    <td class="orderText">3. โทรสอบถามสินค้าเพื่อเช็คสต๊อก ที่เบอร์ 038-571700-343 คุณสุนิษา
                </tr>
                <tr>
                    <td class="orderText">4. โอนเงิน ตามมูลค่าที่แจ้งไว้ ในเว็บไซต์</td>
                </tr>
                <tr>
                    <td class="orderText">5. ส่งหลักฐานการโอนเงิน พร้อมชื่อ ที่อยู่ ที่ต้องการให้จัดส่ง มาที่ <a shape="rect" href="mailto:event@lensowheel.com">event@lensowheel.com</a> หรือ Fax 038-571-699 Attn: คุณสุนิษา</td>
                </tr>
                <tr>
                    <td class="orderText">6. รอรับของภายใน 7 วันทำการ</td>
                </tr>
                <tr>
                    <td class="orderTitle"><img width="150" height="20" src="../lenso/images/order002.png" /></td>
                </tr>
                <tr>
                    <td class="orderText">ธนาคาร กสิกรไทย สาขา บางนาตราด กม 18.</td>
                </tr>
                <tr>
                    <td class="orderText">ชื่อบัญชี ธัญญา เจริญศรี</td>
                </tr>
                <tr>
                    <td class="orderText">เลขที่บัญชี 450-267-2555&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                </tr>
                <tr>
                    <td class="orderText">ประเภท ออมทรัพย์</tr>
                <tr><td><br /></td></tr>                                        
                <tr><td><br /></td></tr>
            </tbody>
        </table>